@use "variables";

#main-canvas,
#component-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    .component {
        --border-size: calc(2 * var(--zoom-size));

        z-index: 100;
        position: absolute;

        background-color: var(--primary-bg-color);
        color: var(--primary-line-color);
        border: var(--border-size) solid var(--primary-line-color);

        min-width: 10px;
        min-height: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-size: calc(16 * var(--zoom-size));

        cursor: pointer;

        /*
        &.is-active {
            outline: 1px solid var(--primary-line-color;
            z-index: 101;
        }
        */

        edit-text {
            width: 100%;
        }

        &.note-component {
            //position: relative;
            padding: var(--size-05);

            .header {
                position: absolute;
                right: 0;
                background-color: var(--primary-bg-color);
                padding: 0;

                border: inherit;
                border-top-color: var(--primary-bg-color);
                border-right-color: var(--primary-bg-color);

                height: 2em;
                width: 2em;
                //border-right: none;
                //border-top: none;

                div {
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    left: -22%;
                    transform: rotate(45deg);
                    height: 0.1em;
                    width: 141.421%;
                    background-color: var(--primary-line-color);
                    width: 141.421%;
                }
            }
        }

        &.class-component {
            justify-content: flex-start;
            align-items: baseline;
            text-align: left;
            height: auto;
            width: auto;
            padding-bottom: 0.2rem;

            &.vertical-center {
                .class-head {
                    flex: 1;
                }
            }

            .edit-text,
            input {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .container {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 0.2em;
            }

            hr {
                width: 100%;
                margin: 0.2rem 0;
                border-top: var(--border-size) solid var(--primary-line-color);
            }

            .class-head {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                text-align: center;
                padding: 0.3em;

                input {
                    text-align: center;
                    padding: 0.3em;
                }
            }

            .no-name {
                font-weight: lighter;
                color: var(--font-color-deactivated);
                input {
                    font-weight: lighter;
                }
            }
        }

        &.note-component {
            edit-text {
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1 1;
                display: flex;

                .et-container {
                    flex: 1 1;
                }
            }
        }
    }

    .scale-handle {
        --handle-size: calc(8px + var(--border-size) * 2);
        --handle-offset: calc((var(--handle-size) + var(--border-size)) / 2 * -1);

        z-index: 150;
        position: absolute;

        width: var(--handle-size);
        height: var(--handle-size);

        border-radius: 100%;
        border: var(--border-size) solid var(--primary-line-color);

        background-color: var(--primary-bg-color);

        &.top-left {
            top: var(--handle-offset);
            left: var(--handle-offset);
            cursor: nw-resize;
        }
        &.top {
            top: var(--handle-offset);
            left: 0px;
            right: 0px;
            margin: 0 auto;
            cursor: n-resize;
        }
        &.top-right {
            top: var(--handle-offset);
            right: var(--handle-offset);
            cursor: ne-resize;
        }
        &.right {
            top: 0px;
            bottom: 0px;
            right: var(--handle-offset);
            margin: auto 0;
            cursor: e-resize;
        }
        &.bottom-right {
            bottom: var(--handle-offset);
            right: var(--handle-offset);
            cursor: se-resize;
        }
        &.bottom {
            bottom: var(--handle-offset);
            left: 0px;
            right: 0px;
            margin: 0 auto;
            cursor: s-resize;
        }
        &.bottom-left {
            bottom: var(--handle-offset);
            left: var(--handle-offset);
            cursor: sw-resize;
        }
        &.left {
            left: var(--handle-offset);
            top: 0px;
            bottom: 0px;
            margin: auto 0;
            cursor: w-resize;
        }
    }

    &.generate-img {
        .component {
            &.class-component {
                hr {
                    width: calc(100% + var(--border-size));
                    height: var(--border-size);

                    margin: 0.2rem calc(-0.5 * var(--border-size));

                    border: none;

                    background: var(--primary-line-color);
                }
            }
            &.note-component {
                .header {
                    div {
                        display: none;
                    }
                }
            }
        }
    }
}
