@use "variables";

// Mixins
@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    justify-content: center;
}

// Keyframes

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// CSS

dialog {
    margin: auto;
    z-index: 10000;
    background-color: var(--background-color);
    max-width: 90vw;
    max-height: 90vh;

    .modal-container {
        @include flex-column();
        min-height: 200px;
        min-width: 360px;
        color: var(--secondary-font-color);

        .loading {
            display: block;
            width: 80px;
            height: 80px;

            position: absolute;
            inset: 0;
            top: calc(50% - 40px);

            margin: 0 auto;

            border: 10px solid var(--primary-color);
            border-left: 10px solid rgba(0, 0, 0, 0);
            border-radius: 100%;

            animation: rotate 1s linear infinite;
        }

        button {
            height: 36px;
            margin: 4px;
            padding: 0 1rem;
            min-width: 88px;

            background-color: var(--primary-color);
            color: var(--primary-font-color);
            border: none;

            font-size: 1.1rem;
            cursor: pointer;

            &:hover {
                background-color: var(--hover-color);
            }

            &.secondary-btn {
                background: none;
                color: var(--primary-color);
            }

            &.close-btn {
                background: none;
                min-width: 40px;
                color: var(--secondary-font-color);

                &:focus-visible {
                    font-weight: bold;
                    background-color: var(--primary-color);
                    color: var(--font-color);
                }
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;

                &:hover {
                    background-color: var(--primary-color);
                }
            }

            &.link-btn {
                background: none;
                display: inline;
                margin: 0;
                padding: 0;
                min-width: 0;
                color: var(--primary-color);
                font-weight: normal;
                font-size: 1rem;
                text-decoration: underline;
            }
        }

        .modal-header {
            @include flex-row();
            justify-content: space-between;
            align-items: start;
            align-content: start;

            h1 {
                font-size: 1.4rem;

                padding: 1rem;
            }

            button:focus {
                outline: none;
            }
        }

        .modal-content {
            flex: 1;
            padding: 1rem;

            h3 {
                padding: 1rem 0 0 0;
            }

            canvas {
                display: block;
                margin: 0 auto;
                max-width: 60vw;
                max-height: 60vh;
                background-size: 20px;
                backdrop-filter: none;
                background-repeat: repeat;
                image-rendering: pixelated;

                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            }

            label {
                color: var(--font-color-deactivated);

                &.error {
                    display: block;
                    color: var(--error-color);
                    margin-top: 0.2rem;
                }
            }
        }

        .modal-buttons {
            display: flex;
            flex-direction: row-reverse;
            padding: 1rem;
            color: var(--font-color);
        }
    }
}
