@use "variables";

$small-nav-size: 48px;
$large-nav-size: 225px;

nav {
    position: absolute;
    z-index: 1000;

    width: $large-nav-size;
    min-width: $large-nav-size;
    height: 100vh;
    background-color: variables.$primary-color;

    display: flex;
    flex-direction: column;

    color: variables.$font-color;

    translate: width 3s;

    button {
        color: inherit;
        background: none;
        border: none;

        text-align: left;
    }

    #nav-btn {
        width: $small-nav-size;
        height: $small-nav-size;
        padding: 8px;
        &:hover {
            background-color: variables.$hover-color;
        }
    }

    ul {
        overflow-x: hidden;
        overflow-y: auto;
        li {
            overflow: hidden;

            button {
                $padding: 8px;

                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;

                //padding: variables.$size-2 variables.$size-1;
                padding: $padding;

                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                .img-container {
                    flex: 1;
                    max-width: $small-nav-size - ($padding * 2);
                    max-height: $small-nav-size - ($padding * 2);
                    margin-right: variables.$size-1;
                }

                &:hover {
                    background: variables.$hover-color;
                }
            }
        }
    }
}

nav.closed {
    width: $small-nav-size;
    min-width: $small-nav-size;
    ul {
        overflow-y: hidden;
        .img-container {
            margin-right: 0;
        }
        .text-container {
            display: none;
        }
    }
}
