@use "variables";

$tool-nav-size: 38px;
$small-nav-size: 48px;
$large-nav-size: 225px;

#nav-btn-list {
    z-index: 1000;
}

nav {
    position: absolute;
    z-index: 1000;

    display: flex;

    background-color: var(--primary-color);
    color: var(--font-color);

    button {
        color: inherit;
        background: none;
        border: none;

        text-align: left;

        &:hover {
            background-color: var(--hover-color);
        }
    }
}

#tool-nav {
    width: 100%;
    background-color: var(--primary-color-darken);
    display: flex;

    .hidden {
        display: none;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;

        button {
            flex: 1;
            padding: 0 8px;
        }

        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            margin: 0;
            padding: 0;
            min-width: 200px;

            flex-direction: column;

            background-color: var(--primary-color-darken);
            list-style: none;

            hr {
                border-top: 1px solid var(--font-color-darken);
            }

            button {
                padding: 0.5rem 1rem;
            }
        }

        &:hover > .sub-menu {
            display: flex;
        }
    }

    .image-item {
        img {
            height: calc($tool-nav-size / 2);
            width: calc($small-nav-size / 2);
            margin: 0 var(--size-05);
        }
    }

    #nav-btn {
        width: $small-nav-size;
        height: $tool-nav-size;
        padding: 4px 8px;
    }
}

#main-nav {
    width: $large-nav-size;
    min-width: $large-nav-size;
    height: calc(100vh - $tool-nav-size);
    top: $tool-nav-size;

    flex-direction: column;

    ul {
        overflow-x: hidden;
        overflow-y: auto;
        li {
            overflow: hidden;

            button {
                $padding: 8px;

                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;

                padding: $padding;

                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                .img-container {
                    flex: 1;
                    max-width: $small-nav-size - ($padding * 2);
                    max-height: $small-nav-size - ($padding * 2);
                    margin-right: var(--size-1);
                }
            }
        }
    }

    &.closed {
        width: $small-nav-size;
        min-width: $small-nav-size;
        ul {
            overflow-y: hidden;
            .img-container {
                margin-right: 0;
            }
            .text-container {
                display: none;
            }
        }
    }
}
