@use "variables";

nav {
    position: absolute;
    z-index: 1000;

    width: 225px;
    min-width: 200px;
    height: 100vh;
    background-color: variables.$primary-color;

    display: flex;
    flex-direction: column;

    color: variables.$font-color;

    translate: width 3s;

    button {
        color: inherit;
        background: none;
        border: none;

        text-align: left;
    }

    #nav-btn {
        svg {
            width: 20px;
            height: 20px;
        }
    }

    ul {
        li {
            overflow: hidden;
            button {
                padding: variables.$size-1;

                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    background: darken(variables.$primary-color, 30%);
                }
            }
        }
    }
}

nav.closed {
    width: 50px;
    min-width: 50px;
}
