@use "variables";

.modal {
    margin: auto;
    z-index: 10000;
    background-color: var(--background-color);
    max-width: 90vw;
    max-height: 90vh;
    min-width: 600px;

    .modal-content {
        width: 100%;

        margin: 0;
        padding: var(--size-1);

        border: 1px solid var(--primary-bg-color-darken);
        background-color: var(--primary-bg-color);
        color: var(--primary-line-color);

        #settings-modal-close {
            color: var(--primary-color);
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: var(--hover-color);
                text-decoration: none;
                cursor: pointer;
            }
        }

        #settings-container {
            display: flex;
            justify-content: center;

            #settings-nav {
                position: inherit;
                margin-right: 1rem;
                background: none;
                border-right: 1px solid var(--secondary-font-color);
                margin-left: -1rem;

                ul {
                    li {
                        list-style: none;
                        button {
                            width: 100%;
                            padding: 0.5rem 1rem;

                            &.highlighted {
                                background-color: var(--primary-color-darken);
                            }
                        }
                    }
                }
            }

            .settings-page {
                flex: 1;
            }
        }

        h2 {
            margin-bottom: var(--size-1);
        }

        .option {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            margin-bottom: var(--size-05);

            label {
                margin-right: var(--size-05);
            }

            select {
                margin-left: var(--size-05);
            }

            select,
            input {
                background: var(--primary-bg-color-darken);
                color: var(--primary-line-color);
                border: 1px solid var(--primary-color-darken);
                padding: var(--size-05);
            }

            input[type="color"] {
                padding: 0;
                border: 1px solid var(--primary-color-darken);
            }
        }

        .btn-container {
            display: flex;
            width: 100%;

            #settings-modal-save-btn {
                background-color: var(--primary-color);
                color: var(--font-color);
                border: none;
                padding: var(--size-05) var(--size-1);
                margin-top: var(--size-1);
                margin-left: auto;
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    background-color: var(--hover-color);
                }

                &:focus-visible {
                    border: 2px solid var(--primary-bg-color-darken);
                    outline: 2px solid var(--primary-color-darken);
                }
            }
        }
    }
    input,
    select,
    button {
        &:focus-visible {
            outline: 2px solid var(--primary-color);
        }
    }
}
