$size-05: 0.5rem;
$size-1: 1rem;
$size-2: 1.2rem;
$size-3: 1.5rem;

$background-color: #ffffff;

$primary-color: #0078d4;
$primary-bg-color: rgb(255, 255, 255);
$primary-line-color: rgb(0, 0, 0);

$hover-color-transparent: rgba(0, 0, 0, 0.4);
$hover-color: darken($primary-color, 20%);

$font-color: rgb(255, 255, 255);
$font-color-deactivated: rgb(92, 92, 92);
